<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-passcode-check" version="0.1.2">
    <name>Passcode Check</name>
    <author>R.E. Moore Jr. </author>
    <description>Cordova Plugin to determine if a passcode has been set for the device</description>
    <keywords>cordova, passcode</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/PasscodeCheck.js" name="PasscodeCheck">
        <clobbers target="PasscodeCheck" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Passcode Check">
                <param name="ios-package" value="PasscodeCheck" />
            </feature>
        </config-file>
        <header-file src="src/ios/PasscodeCheck.h" />
        <source-file src="src/ios/PasscodeCheck.m" />
        <framework src="LocalAuthentication.framework" />
    </platform>
</plugin>
